<div class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>
        <!-- CONTENT HEADER -->
        <div class="header accent py-24" fxLayout="row" fxLayoutAlign="space-between center">
            <h2 class="m-0">{{title.get(operation)}}</h2>
            <div @slideInRightSlow fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <!--                <button mat-raised-button *ngIf="operation !== 'create'" (click)="copyProject()" class="w-button purple-button">复制</button>-->
                <button mat-raised-button *ngIf="operation === 'detail'" (click)="editProject()"
                        class="w-button shallow-button">编辑
                </button>
                <button mat-raised-button *ngIf="operation !== 'detail'" (click)="saveProject(closeOrderDialog)"
                        class="w-button shallow-button" [disabled]="!canSave">保存
                </button>
                <button mat-raised-button (click)="goBack()" class="w-button">取消</button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content pb-8 h-100-p w-100-p" fxlayout.gt-sm="row" fxLayout.lt-md="column"
             fxLayoutAlign="start start" fxLayoutGap="24px" style="overflow: hidden;">
            <!--左边-->
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="18px" class="left-panel">
                <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-100-p pt-20 px-24">
                    <ng-container *ngTemplateOutlet="leftContent"></ng-container>
                </mat-card>
            </div>

            <!--右边-->
            <div fxLayout="column" fxLayoutAlign="start center" class="right-panel overflowControlRightContent" fxLayoutGap="18px">
                <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-40-p pt-20 px-24">
                    <ng-container *ngTemplateOutlet="rightContentTop"></ng-container>
                </mat-card>
                <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-40-p pt-20 px-24">
                    <ng-container *ngTemplateOutlet="rightContentBottom"></ng-container>
                </mat-card>
                <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-40-p pt-20 px-24" *ngIf="activityForm.get('type').value==='STORE'">
                    <ng-container *ngTemplateOutlet="rightContentBottom2"></ng-container>
                </mat-card>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>

<ng-template #leftContent>
    <form fusePerfectScrollbar [formGroup]="activityForm" autocomplete="off" fxLayout="column"
          fxLayoutAlign="start start" class="w-100-p overflowControlLeftContent normal-form-fields pt-12 pb-12 pr-24">
        <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p">
            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p" fxLayoutGap="10px"
                 [@animate]="{value:'*',params:{y:'100%',delay:'100ms',duration:'100ms'}}">
                <mat-form-field appearance="outline" class="w-50-p">
                    <mat-label>活动ID</mat-label>
                    <input matInput autocomplete="off" formControlName="id">
                    <mat-error>活动ID不能为空</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-50-p">
                    <mat-label>活动名称</mat-label>
                    <input matInput autocomplete="off" formControlName="name">
                    <mat-error>活动名称不能为空</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p" fxLayoutGap="10px"
                 [@animate]="{value:'*',params:{y:'100%',delay:'200ms',duration:'100ms'}}">
                <mat-form-field appearance="outline" class="w-50-p">
                    <mat-label>活动类型</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let item of configurationTypeList"
                                    [value]="item['id']">{{item['name']}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <app-material-date-picker #preheatTime [floatLabel]="'always'"
                                          [timeControl]="activityForm.get('preheatTime')"
                                          (sourceDate)="onSourcePreheatTime()" [config]="configPreheatTime"
                                          [label]="'预热时间'" class="w-50-p">
                </app-material-date-picker>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="w-100-p"
                 [@animate]="{value:'*',params:{y:'100%',delay:'300ms',duration:'100ms'}}">
                <app-material-date-picker #startDate class="w-50-p" [floatLabel]="'always'"
                                          [timeControl]="activityForm.get('beginTime')"
                                          [required]="true"
                                          (sourceDate)="onSourceDate($event,endDate , startDate , 'startTime')"
                                          [config]="configStartTime"
                                          [label]="'开始时间'">
                </app-material-date-picker>

                <app-material-date-picker #endDate class="w-50-p" [floatLabel]="'always'"
                                          [timeControl]="activityForm.get('endTime')"
                                          [required]="true"
                                          (sourceDate)="onSourceDate($event,endDate , startDate , 'endTime')"
                                          [config]="configEndTime"
                                          [label]="'结束时间'">
                </app-material-date-picker>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p" fxLayoutGap="10px"
                 [@animate]="{value:'*',params:{y:'100%',delay:'400ms',duration:'100ms'}}">
                <mat-form-field appearance="outline" [floatLabel]="'always'" class="w-50-p">
                    <mat-label>状态</mat-label>
                    <mat-select formControlName="enabled">
                        <mat-option [value]="true">已上线</mat-option>
                        <mat-option [value]="false">已下线</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- 限制部分 -->
            <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="w-100-p"
                 [@animate]="{value:'*',params:{y:'100%',delay:'500ms',duration:'400ms'}}">
                <!-- 活动图片上传 预览 -->
                <div fxLayout="row" [@animate]="{value:'*',params:{y:'100%',delay:'500ms',duration:'400ms'}}"
                     fxLayoutAlign="space-between center" class="activity-photo">
                    <div fxFlex="16" fxLayout="row">
                        <span>活动图片</span>
                    </div>
                    <div class="ready-upload-part">
                        <div class="up-input-btu">
                            <button mat-raised-button color="accent" [disabled]="canEdit"
                                    (click)="openUploadImgDiloag(uploadImgDloag)" class="up-input-btu-btu"
                                    ngDefaultControl>
                                <img src="../../../../../../../assets/images/cards/upLoad.png">上传
                            </button>
                        </div>
                        <div class="preview-img">
                            <button [disabled]="!uploadFile.previewImgStatus" mat-raised-button
                                    (click)="openPreviewDilog(previewImgDloag)" class="preview-up-input-btu-btu"
                                    ngDefaultControl>
                                <mat-icon color="accent">insert_photo</mat-icon>
                                <span class="span-accent-color">预览</span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- 活动模板 -->
<!--                <div *ngIf="activityForm.get('type').value==='STORESIGNUP'" fxLayout="row" fxLayoutAlign="start center" class="w-100-p">-->
<!--                    <span fxFlex="16">活动模板</span>-->
<!--                    <button fxFlex="15" mat-raised-button color="accent" class="pr-in-re-but" [disabled]="canEdit"-->
<!--                            (click)="openActivitySelect(activity)">-->
<!--                        <span class="iconfont iconjiajian font-size-16 codeZJ"></span>增减-->
<!--                    </button>-->
<!--                    <span class="ml-8">{{activityForm.get('extParams').get('template')?.value}}</span>-->
<!--                </div>-->
                <div  *ngIf="activityForm.get('type').value==='STORESIGNUP'" class="w-100-p" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span>优惠券投放</span>
                    <input class="input-box ml-12" [formControl]="activityForm.get('extParams').get('maxQuantity')"><br>
                    <span *ngIf="activityForm.get('extParams').get('maxQuantity').touched&&!activityForm.get('extParams').get('maxQuantity').value" style="color: red;">优惠券投放不能为空</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="w-100-p mb-0 mt-12" *ngIf="activityForm.get('type').value==='STORESIGNUP'">
                    <div fxFlex="14"></div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" fxFlex="60">
                        <app-material-date-picker #startDate class="w-50-p" [floatLabel]="'always'"
                                                  [timeControl]="activityForm.get('extParams').get('beginTime')"
                                                  [required]="true"
                                                  (sourceDate)="onSourceDate($event,endDate , startDate , 'startTime')"
                                                  [config]="configStartTime"
                                                  [label]="'开始时间'">
                        </app-material-date-picker>
                        <app-material-date-picker #endDate class="w-50-p" [floatLabel]="'always'"
                                                  [timeControl]="activityForm.get('extParams').get('endTime')"
                                                  [required]="true"
                                                  (sourceDate)="onSourceDate($event,endDate , startDate , 'endTime')"
                                                  [config]="configEndTime"
                                                  [label]="'结束时间'">
                        </app-material-date-picker>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                    <span fxFlex="16">会员限制</span>
                    <button fxFlex="15" mat-raised-button color="accent" class="pr-in-re-but" [disabled]="canEdit"
                            (click)="openLevelSelect(levelLimitList)">
                        <span class="iconfont iconjiajian font-size-16 codeZJ"></span>增减
                    </button>
                    <span class="text-ellipsis ml-8 mr-8 toolSpan"
                          *ngIf="levelShow.length!==0 && levelShow[0]==='__ALL__'">全部</span>
                    <span class="text-ellipsis ml-8 mr-8 toolSpan" [matTooltip]="levelShow"
                          *ngIf="levelShow.length===0 || (levelShow.length!==0 && levelShow[0]!=='__ALL__')">
                        {{levelShow}}
                    </span>
                    <button fxFlex="15" mat-raised-button
                            (click)="openPreData(PreDetailTe , activityForm.value['level'], 'level')">
                        预览
                    </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                    <span fxFlex="16">商场限制</span>
                    <button fxFlex="15" mat-raised-button color="accent" class="pr-in-re-but" [disabled]="canEdit"
                            (click)="openMallSelect(mall)">
                        <span class="iconfont iconjiajian font-size-16 codeZJ"></span>增减
                    </button>
                    <span class="text-ellipsis ml-8 mr-8 toolSpan"
                          *ngIf="mallShow.length!==0 && mallShow[0]==='__ALL__'">全部</span>
                    <span class="text-ellipsis ml-8 mr-8 toolSpan" [matTooltip]="mallShow"
                          *ngIf="mallShow.length===0 || (mallShow.length!==0 && mallShow[0]!=='__ALL__')">
                        {{mallShow}}
                    </span>
                    <button fxFlex="15" mat-raised-button
                            (click)="openPreData(PreDetailTe , activityForm.value['mall'], 'mall')">
                        预览
                    </button>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                    <span fxFlex="24">参加活动次数</span>
                    <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-32">
                        <input class="input-box" (input)="onNumberInput1($event)" formControlName="maxJoin"><br>
                        <span *ngIf="activityForm.value['maxJoin'] === ''" style="color: red;">参加活动次数不能为空</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                    <span fxFlex="24">单日参加活动次数</span>
                    <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-32">
                        <input class="input-box" (input)="onNumberInput2($event)" formControlName="maxJoinDaily"><br>
                        <span *ngIf="activityForm.value['maxJoinDaily'] === ''" style="color: red;">单日参加活动次数不能为空</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p" *ngIf="activityForm.get('type').value==='REDEEM'">
                    <span fxFlex="24">兑换积分</span>
                    <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-32">
                        <input class="input-box" (input)="onNumberInput3($event)" [formControl]="activityForm.get('extParams').get('totalPoint')"><br>
<!--                        <span *ngIf="activityForm.value['extParams']['totalPoint'] === ''" style="color: red;">兑换积分不能为空</span>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #rightContentTop>
    <form class="w-100-p" [formGroup]="activityForm" style="overflow: hidden;">
        <div fusePerfectScrollbar fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px"
             class="overflowControlRightContentTop">
            <div [@animate]="{value:'*',params:{y:'10px',opacity:'0',duration:'100ms',opacity:'0',delay:'400ms'}}">
                优惠券
            </div>
            <div class="w-100-p" fxLayout="row wrap" fxLayoutAlign="start start"
                 [@animate]="{value:'*',params:{y:'100%',opacity:'0',duration:'200ms',delay:'400ms'}}">
                <div *ngIf="canEdit" class="add-button" fxLayout="row" fxLayoutAlign="center center"
                     style="opacity: 0.6;cursor: auto;">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span class="ml-4">添加对象</span>
                </div>
                <div *ngIf="!canEdit" class="add-button" fxLayout="row" fxLayoutAlign="center center"
                     (click)="openMemberSelect(memberTemplate)">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span class="ml-4">添加对象</span>
                </div>
                <div class="member-cell p-8" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2px" *ngFor="let item of currentRule"
                     [@animate]="{value:'*',params:{y:'100%',opacity:'0',delay:'100ms',duration:'500ms'}}">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p">
                        <span>券名称：{{item.name}}</span>
                        <button mat-icon-button (click)="removeMember(item['id'])" fxLayout="row" fxLayoutAlign="center center"
                                class="w-24 h-24 remove-button" [disabled]="canEdit">
                            <mat-icon class="mat-icon-20" color="warn">cancel</mat-icon>
                        </button>
                    </div>
                    <span class="w-100-p" style="word-break: break-all;">券编码：{{item.number}}</span>
                    <span class="w-100-p" style="word-break: break-all;">有效期：{{item.validity}}</span>
                </div>
            </div>
            <div [@animate]="{value:'*',params:{y:'10px',opacity:'0',duration:'300ms',opacity:'0',delay:'400ms'}}" *ngIf="false">
<!--                价值：￥{{currentRule?.price}}-->
            </div>
            <div [@animate]="{value:'*',params:{y:'10px',opacity:'0',duration:'400ms',opacity:'0',delay:'400ms'}}"
                 *ngIf="false">
                售价：<input class="input-box w-144" formControlName="price">
            </div>
            <div fxLayout="row" fxLayoutAlign="start center"
                 [@animate]="{value:'*',params:{y:'10px',opacity:'0',duration:'500ms',opacity:'0',delay:'400ms'}}"
                 *ngIf="false">
                <span>退款：</span>
                <mat-radio-group fxLayout="row" fxLayoutAlign="start center" formControlName="canRefund">
                    <mat-radio-button [value]="true">购买后 <input class="input-box"
                                                                (input)="onNumberInput($event, 'refundTime')"
                                                                formControlName="refundTime" style="width: 70px;"
                                                                required value=""
                                                                oninput="value=value.replace(/[^\d]/g,'')"> 天内可退款
                    </mat-radio-button>
                    <mat-radio-button [value]="false" style="margin-left: 20px;">不可退</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

    </form>
</ng-template>

<ng-template #rightContentBottom>
    <form class="w-100-p h-100-p" [formGroup]="activityForm" style="overflow: hidden;">
        <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-100-p">
            <span class="mb-8">活动说明</span>
            <quill-editor [placeholder]="''" class="w-100-p" (onEditorCreated)="onEditorCreatedPro($event)"
                          [styles]="{'border-radius':'5px','height':'80px'}" formControlName="ruleText"></quill-editor>
            <mat-error *ngIf="activityForm.value['ruleText']===''|| activityForm.value['ruleText']=== null">活动说明必填项
            </mat-error>
        </div>
    </form>
</ng-template>

<ng-template #rightContentBottom2>
    <form class="w-100-p h-100-p" [formGroup]="storeForm" style="overflow: hidden;">
        <p>申请店铺</p>
        <div fxLayout="row" fxLayoutAlign="start center" class="w-100-ps headPhoto" fxLayoutGap="10px"
             [@animate]="{value:'*',params:{y:'100%',delay:'100ms',duration:'100ms'}}">
            <img [src]="'http://vincentwang.xyz:8080/picture/444.jpg'" class="w-100-p h-100-p" *ngIf="storeForm.value['imgId']">
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p normal-form-fields" fxLayoutGap="10px"
             [@animate]="{value:'*',params:{y:'100%',delay:'100ms',duration:'100ms'}}">
            <mat-form-field appearance="outline" class="w-30-p">
                <mat-label>店铺ID</mat-label>
                <input matInput autocomplete="off" formControlName="storeId">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-30-p">
                <mat-label>店铺名称</mat-label>
                <input matInput autocomplete="off" formControlName="storeName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-20-p">
                <mat-label>投放认领</mat-label>
                <input matInput autocomplete="off" formControlName="quantity">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-20-p">
                <mat-label>剩余数量</mat-label>
                <input matInput autocomplete="off" formControlName="residueAmount">
            </mat-form-field>
        </div>
    </form>
</ng-template>

<!--上传的窗口-->
<ng-template #uploadImgDloag>
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="uploadImageClass">
        <div mat-dialog-title class="dialog-manage-title_tips" cdkDragHandle>
            <div class="img-title">
                <span class="title_dialog_">活动图片</span>
            </div>
            <div class="img-close">
                <button mat-icon-button mat-dialog-close>
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <mat-dialog-content style="overflow: hidden;">
            <div class="MatDialogFrozenClass_tips">
                <div class="MatDialogFrozenClass1">
                    <div class="up_input_load">
                        <div class="file-path">
                            <input type="text" value="{{uploadFile.imgName}}">
                        </div>
                        <div class="file-upLoad-btu">
                            <button mat-raised-button color="accent" class="btu-file-up">添加文件</button>
                            <input type="file" value="" accept="image/jpg,image/png,image/gif,image/jpeg"
                                   class="up_input" (change)="couponImgUpload($event)">
                        </div>
                    </div>
                    <div class="tips_color_w_h">
                        <span class="tips-color">图片格式为jpg，png，gif，文件大小不大于1MB，尺寸690x300px</span>
                    </div>
                    <div class="Progress-Bar">
                        <section class="example-section">
                            <ng-container *ngIf="uploadFile.uploading===true">
                                <mat-progress-bar class="example-margin" color="accent" mode="determinate"
                                                  [value]="uploadFile.progressLoad"></mat-progress-bar>
                            </ng-container>
                        </section>
                    </div>
                </div>
            </div>
            <div class="btu_dialog_Frozen_tips">
                <button mat-raised-button color="accent" (click)="onUploadImg()" [disabled]="uploadFile.uploadStatus">
                    上传
                </button>
                <button mat-raised-button color="accent" mat-dialog-close [disabled]="uploadFile.finishStatus">完成
                </button>
            </div>
        </mat-dialog-content>
    </div>
</ng-template>

<!--上传预览的窗口-->
<ng-template #previewImgDloag>
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane"
         fxLayout="row" fxLayoutAlign="center center" class="w-100-p h-100-p">
        <div fxLayout="row" fxLayoutAlign="center center" class="w-100-p h-100-p" *ngIf="!uploadFile.imgPreLoading">
<!--            <img *ngIf="uploadFile.imgSrc" [src]="uploadFile.imgSrc" class="w-100-p h-100-p">-->
            <img [src]="'http://vincentwang.xyz:8080/picture/444.jpg'" class="w-100-p h-100-p" >
        </div>
        <mat-spinner color="accent" *ngIf="uploadFile.imgPreLoading" mode="indeterminate"></mat-spinner>
    </div>
</ng-template>

<ng-template #memberTemplate>
<!--    <app-coupon-rule [overPanel]="true" [createBut]="false" [singleSelect]="true" [selectedRow]="selectedRule"-->
<!--                     [isPackage]="false"-->
<!--                     (dataSelect)="onMemberSelect($event)"></app-coupon-rule>-->
    <app-coupon-rule [overPanel]="true" [createBut]="false" [selectedRows]="selectedRule"
                     [isPackage]="false"  [checkbox]="true"
                     (dataSelect)="onMemberSelect($event)"></app-coupon-rule>
</ng-template>

<!-- 会员限制 -->
<ng-template #levelLimitList>
    <app-member-card [checkbox]="true" [overPanel]="true" [selectedRows]="levelSource"
                     (dataSelect)="onSelectLevelLimit($event)">
    </app-member-card>
</ng-template>

<!--名称预览-->
<ng-template #PreDetailTe>
    <app-data-preview [previewData]="previewData"></app-data-preview>
</ng-template>

<ng-template #closeOrderDialog>
    <div class="closeOrderDialogStyle">
        <h1 class="dialogTitle" mat-dialog-title>系统提示</h1>
        <div fxLayout="row" fxLayoutAlign="start start" class="hintContent">
            <div fxFlex="20" class="hintContentLeft">
                <span class="icon iconfont icontishi font-size-36 mr-8" style="color: #67CAF6;"></span>
            </div>
            <div fxFlex="80" class="dialogContent" mat-dialog-content>
                <p>活动结束时间大于优惠券有效期结束时间，</p>
                <p>可能导致领取到的券无法使用,确定保存？</p>
            </div>
        </div>
        <div class="dialogAction" mat-dialog-actions>
            <button mat-stroked-button (click)="toSureSaveProject()">确认</button>
            <button mat-stroked-button [mat-dialog-close]="false">取消</button>
        </div>
    </div>
</ng-template>

<!-- 商场类型 -->
<ng-template #mall>
    <app-mall-manage [checkbox]="true" [overPanel]="true" [selectedRows]="mallSource" [popUpYes]="true"
                     (dataSelect)="onSelectMallType($event)" [hasCheckAllFlag]="true"
                     (sendCheckInfo)="toGetSendCheckMallInfo($event)">
    </app-mall-manage>
</ng-template>


<!-- 活动选择 -->
<!--<ng-template #activity>-->
<!--    <app-activity-list [singleSelect]="true"-->
<!--                       [filter]="[{name: 'reviewStatus', value: true},{name:'type',value:'STORESIGNUP',reg:'notEquals'}]"-->
<!--                       [createButton]="false" [overPanel]="true" [selectedRow]="selectActivity"-->
<!--                       (dataSelect)="onActivitySelect($event)">-->
<!--    </app-activity-list>-->
<!--</ng-template>-->
