@import "../../../../../@fuse/scss/fuse";
.portrait-all-flex{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: row;
  justify-content: space-between;
  @include media-breakpoint('lt-md') {
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-direction: column;
  }
  .portrait-all-form{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
    @include media-breakpoint('lt-md') {
      width: 100%;
      height: auto;
      overflow: hidden;
      flex-direction: column;
    }

    .portrait-flex-left{
      width: 49%;
      height: 97%;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      // overflow-y: auto;
      @include media-breakpoint('lt-md'){
        width: 96%;
        overflow-y: hidden;
        margin-bottom: 10px;
      }

      .portrait-left-flex{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #DDDDDD;
        max-height: 81vh; // 580px;
        overflow: auto;
        @include media-breakpoint('lt-md'){
          max-height: none;
          overflow: hidden;
        }
      }
    }

    .portrait-flex-right{
      width: 49%;
      height: 97%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      border-radius: 5px;
      @include media-breakpoint('lt-md'){
        width: 96%;
        height: auto;
        overflow-y: hidden;
      }
      .portrait-right-flex{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #DDDDDD;
        max-height:  81vh;
        min-height: 580px;
        min-width: 613px;
        overflow: auto;
        @include media-breakpoint('lt-md'){
          min-height: 165px;
          margin-bottom: 15px;
        }
      }
    }

  }


}

.wordWoldWH{
  width: 550px;
  height: 520px;
  overflow: auto;
}




.c-portrait-but{
  border-radius: 8px;
}

.portrait-mat-point{
  mat-form-field{
    height: 40px;
    .mat-form-field-wrapper{
      height: 40px;
    }
  }
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      height: 40px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0em ;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0em;
    }
    .mat-form-field-flex{
      height: 40px;
    }
    .mat-form-field-label-wrapper {
      top: -1.14375em;
      padding-top: 1.04375em;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
      top: 2.404375em;
      margin-top: -0.9em;
    }
    .mat-form-field-wrapper {
      padding-bottom: 1.14375em;
    }
    .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
      padding: 0 0.5em;
    }
  }
}
