.score-start-com{
  width: 70%;
  height: 100%;
  button{
    width: 20px;
    height: 20px;
    line-height: 18px;
    mat-icon{
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      font-size: 24px;
      line-height: 18px;
      border-radius: 15px;
    }
  }

}

.mat-color-com{
  color: #FCB526;
}

.mat-color2-com{
  color: #F0EFF2;
}