.label-content {
  border: 1px dashed #BBBBBB;
  border-radius: 4px;
  height: 100px;
  padding: 8px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item-button{
    border: 1px dashed #BBBBBB;
    border-radius: 3px;
    padding: 4px;
    margin: 0 6px 6px 0;
    height: 26px;
    .select-icon{
      margin-left: 4px;
      cursor: pointer;
    }
  }
}

.increace-reduce-button {
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-color: #2392D6;
  border-radius: 4px;
  img {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
}
.myTextarer{
  ::ng-deep{
    .mat-form-field-infix{
      border-top-width: 6px!important;
    }
  }
}
