<div class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center" fusePerfectScrollbar>
        <div class="header accent py-24" fxLayout="row" fxLayoutAlign="space-between center">
            <h2 class="m-0">小程序统计</h2>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" class="content pb-8 h-100-p w-100-p" fusePerfectScrollbar>
            <!--左边-->
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px" fxFlex="74">
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="2%" class="w-100-p">
                    <div fxFlex="32">
                        <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-240">
                            <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-30-p">
                                <span class="titleSpan">访问人数</span>
                                <span class="titleNum">{{appletUserInfo?.userCounts[appletUserInfo?.userCounts.length-1]['data']}}<span class="titleNumUnit">（人）</span></span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-70-p">
                                <div #visitPersonNumberEle class="w-100-p h-100-p"></div>
                            </div>
                        </mat-card>
                    </div>
                    <div fxFlex="32">
                        <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-240">
                            <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-30-p">
                                <span class="titleSpan">新增访问</span>
                                <span class="titleNum">{{appletUserInfo?.newCounts[appletUserInfo?.newCounts.length-1]['data']}}<span class="titleNumUnit">（次）</span></span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-70-p">
                                <div #addVisitPersonNumberEle class="w-100-p h-100-p"></div>
                            </div>
                        </mat-card>
                    </div>
                    <div fxFlex="32">
                        <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-240">
                            <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-30-p">
                                <span class="titleSpan">老用户</span>
                                <span class="titleNum">{{appletUserInfo?.oldCounts[appletUserInfo?.oldCounts.length-1]['data']}}<span class="titleNumUnit">（人）</span></span>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-70-p">
                                <div #oldVisitPersonNumberEle class="w-100-p h-100-p"></div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" class="w-100-p">
                    <div class="w-100-p">
                        <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-400">
                            <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100-p h-10-p">
                                <span class="titleSpan">访问人数</span>
                                <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="4px" class="rightDateChecked">
                                    <p [class.selectBg]="visitPersonIndex===6" (click)="getPersonNumberChangeLine('user_count', 'days', 6);">7天</p>
                                    <p [class.selectBg]="visitPersonIndex===13" (click)="getPersonNumberChangeLine('user_count', 'days', 13);">14天</p>
                                    <p [class.selectBg]="visitPersonIndex===29" (click)="getPersonNumberChangeLine('user_count', 'days', 29);">30天</p>
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="w-280">
                                        <app-material-date-picker #startDate class="w-50-p" [floatLabel]="'never'"
                                                                  [timeControl]="visitPersonForm.get('beginTime')"
                                                                  [required]="true"
                                                                  (sourceDate)="onSourceDate1($event, endDate, startDate , 'startTime')"
                                                                  [config]="configStartTime"
                                                                  [label]="'开始时间'">
                                        </app-material-date-picker>
                                        <app-material-date-picker #endDate class="w-50-p" [floatLabel]="'never'"
                                                                  [timeControl]="visitPersonForm.get('endTime')"
                                                                  [required]="true"
                                                                  (sourceDate)="onSourceDate1($event, endDate, startDate , 'endTime')"
                                                                  [config]="configEndTime"
                                                                  [label]="'结束时间'">
                                        </app-material-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-90-p">
                                <div #visitPersonNumberLineEle class="w-100-p h-100-p"></div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" class="w-100-p">
                    <div class="w-100-p">
                        <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-400">
                            <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100-p h-10-p">
                                <span class="titleSpan">访问次数</span>
                                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="4px" class="rightDateChecked">
                                    <p [class.selectBg]="visitNumberIndex===6" (click)="getPersonNumberChangeLine('session_count', 'days', 6);">7天</p>
                                    <p [class.selectBg]="visitNumberIndex===13" (click)="getPersonNumberChangeLine('session_count', 'days', 13);">14天</p>
                                    <p [class.selectBg]="visitNumberIndex===29" (click)="getPersonNumberChangeLine('session_count', 'days', 29);">30天</p>
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="w-280">
                                        <app-material-date-picker #startDate class="w-50-p" [floatLabel]="'never'"
                                                                  [timeControl]="visitNumberForm.get('beginTime')"
                                                                  [required]="true"
                                                                  (sourceDate)="onSourceDate2($event, endDate, startDate , 'startTime')"
                                                                  [config]="configStartTime"
                                                                  [label]="'开始时间'">
                                        </app-material-date-picker>
                                        <app-material-date-picker #endDate class="w-50-p" [floatLabel]="'never'"
                                                                  [timeControl]="visitNumberForm.get('endTime')"
                                                                  [required]="true"
                                                                  (sourceDate)="onSourceDate2($event, endDate, startDate , 'endTime')"
                                                                  [config]="configEndTime"
                                                                  [label]="'结束时间'">
                                        </app-material-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-90-p">
                                <div #visitNumberLineEle class="w-100-p h-100-p"></div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" class="w-100-p">
                    <div class="w-100-p">
                        <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-400">
                            <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100-p h-10-p">
                                <span class="titleSpan">访问时长</span>
                                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="4px" class="rightDateChecked">
                                    <p [class.selectBg]="visitTimeIndex===6" (click)="getPersonNumberChangeLine('session_time_per_person', 'days', 6);">7天</p>
                                    <p [class.selectBg]="visitTimeIndex===13" (click)="getPersonNumberChangeLine('session_time_per_person', 'days', 13);">14天</p>
                                    <p [class.selectBg]="visitTimeIndex===29" (click)="getPersonNumberChangeLine('session_time_per_person', 'days', 29);">30天</p>
                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="w-280">
                                        <app-material-date-picker #startDate class="w-50-p" [floatLabel]="'never'"
                                                                  [timeControl]="visitTimeForm.get('beginTime')"
                                                                  [required]="true"
                                                                  (sourceDate)="onSourceDate3($event, endDate, startDate , 'startTime')"
                                                                  [config]="configStartTime"
                                                                  [label]="'开始时间'">
                                        </app-material-date-picker>
                                        <app-material-date-picker #endDate class="w-50-p" [floatLabel]="'never'"
                                                                  [timeControl]="visitTimeForm.get('endTime')"
                                                                  [required]="true"
                                                                  (sourceDate)="onSourceDate3($event, endDate, startDate , 'endTime')"
                                                                  [config]="configEndTime"
                                                                  [label]="'结束时间'">
                                        </app-material-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-90-p">
                                <div #visitTimeLineEle class="w-100-p h-100-p"></div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
            <!--右边-->
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="24px" fxFlex="24" class="mr-0">
                <div class="w-100-p">
                    <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-300">
                        <div fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p h-15-p">
                            <span class="titleSpan">用户活跃(天)</span>
                            <span class="titleNum">{{activityDayNumber}}<span class="titleNumUnit">（人）</span></span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-85-p">
                            <div #personActivityDAUEle class="w-100-p h-100-p"></div>
                        </div>
                    </mat-card>
                </div>
                <div class="w-100-p">
                    <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-300">
                        <div fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p h-15-p">
                            <span class="titleSpan">用户活跃(周)</span>
                            <span class="titleNum">{{activityWeekNumber}}<span class="titleNumUnit">（人）</span></span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p h-85-p">
                            <div #personActivityWAUEle class="w-100-p h-100-p"></div>
                        </div>
                    </mat-card>
                </div>
                <div class="w-100-p">
                    <mat-card fxLayout="column" fxLayoutAlign="start start" class="w-100-p" style="height: 864px;">
                        <div fxLayout="row" fxLayoutAlign="space-between start" class="w-100-p h-5-p">
                            <span class="titleSpan">终端型号</span>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" class="w-100-p h-95-p">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p h-36">
                                <div><strong>设备型号</strong></div>
                                <div><strong>启动次数</strong></div>
                            </div>
                            <div class="w-100-p" fusePerfectScrollbar>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p h-36" *ngFor="let item of terminalList">
                                    <div class="textOverflow">{{item['day']}}</div>
                                    <div class="textOverflow">{{item['data']}}</div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

