.game-cover {
  width: 48%;
  height: 200px;
  background: #EAF7FF;
  border-radius: 8px;

  img {
    width: auto;
    height: 100%
  }
}

.mall-select {
  background: white !important;
  color: #FAAD14 !important;
  border: 1px solid #FAAD14 !important;
}
