@import "src/@fuse/scss/fuse";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.right-table {
  animation: fadeIn 1000ms ease-in-out;
  td {
    padding: 12px 0;
    min-width: 80px;
    input {
      height: 28px;
      width: 180px;
    }
  }
}

.input-box {
  opacity: 1 !important;
  padding: 0 12px;
}

.radio-group {
  mat-radio-button {
    margin: 0 4px;
  }
}
::ng-deep #createCode {
  padding: 0 !important;
}