<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0 normal-form-fields" fusePerfectScrollbar>

        <form name="eventForm" [formGroup]="eventForm" class="event-form w-100-p" fxLayout="column" fxFlex>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>{{'calendar.event.title'|translate}}</mat-label>
                <input matInput formControlName="title"
                       required>
            </mat-form-field>


            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="meta">
                <mat-form-field appearance="outline" class="w-100-p text-area">
                    <mat-label>{{'calendar.event.marketingTarget'|translate}}</mat-label>
                    <textarea matInput formControlName="marketingTarget"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5">
                </textarea>
                </mat-form-field>
            </div>

            <div class="pb-32" fxFlex="1 0 auto" fxLayout="row">

                <mat-slide-toggle name="allDay" formControlName="allDay" class="mr-24" aria-label="All day">
                    {{'calendar.event.allDay'|translate}}
                </mat-slide-toggle>

            </div>


            <app-material-date-picker #startDatePicker [timeControl]="eventForm.get('start')" [required]="true"
                                      (sourceDate)="onStartDate($event,endDatePicker)" [config]="startConfig"
                                      [label]="'calendar.event.startDate'|translate"></app-material-date-picker>

            <app-material-date-picker #endDatePicker [timeControl]="eventForm.get('end')" [required]="true"
                                      (sourceDate)="onEndDate($event,startDatePicker)" [config]="endConfig"
                                      [label]="'calendar.event.endDate'|translate"></app-material-date-picker>

            <!--</div>-->
            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="meta">
                <mat-form-field appearance="outline" class="w-100-p text-area">
                    <mat-label>{{'calendar.event.marketingForm'|translate}}</mat-label>
                    <textarea matInput formControlName="marketingForm"
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5">
                </textarea>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>{{'calendar.event.marketingBudget'|translate}}</mat-label>
                <input [value]="currencyValue" matInput (input)="currencyInput($event)"
                >
            </mat-form-field>

            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" formGroupName="color">

                <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                    <mat-label>{{'calendar.event.primaryColor'|translate}}</mat-label>
                    <input matInput
                           class="border-radius-4"
                           name="primary color"
                           formControlName="primary"
                           [(colorPicker)]="event.color.primary"
                           cpWidth="290px"
                           [cpPresetColors]="presetColors"
                           [style.background]="event.color.primary"
                           (colorPickerChange)="event.color.primary = $event; eventForm.patchValue({color:{primary:$event}})"/>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-sm-8" fxFlex="50">
                    <mat-label>{{'calendar.event.secondaryColor'|translate}}</mat-label>
                    <input matInput
                           class="border-radius-4"
                           name="secondary color"
                           formControlName="secondary"
                           [(colorPicker)]="event.color.secondary"
                           cpWidth="290px"
                           [cpPresetColors]="presetColors"
                           [style.background]="event.color.secondary"
                           (colorPickerChange)="event.color.secondary = $event; eventForm.patchValue({color:{secondary:$event}})"/>
                </mat-form-field>
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action ==='edit'"
                mat-button color="primary"
                class="mr-8"
                (click)="matDialogRef.close(['delete',eventForm])"
                aria-label="Delete"
                matTooltip="{{'calendar.delete'|translate}}">
            {{'calendar.delete'|translate}}
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button color="primary"
                class="save-button"
                (click)="matDialogRef.close(eventForm)"
                [disabled]="eventForm.invalid"
                matTooltip="{{'calendar.add'|translate}}"
                aria-label="ADD">
            {{'calendar.add'|translate}}
        </button>

        <button *ngIf="action === 'edit'"
                mat-button color="primary"
                class="save-button"
                (click)="matDialogRef.close(['save', eventForm])"
                [disabled]="eventForm.invalid"
                matTooltip="{{'calendar.save'|translate}}"
                aria-label="SAVE">
            {{'calendar.save'|translate}}
        </button>

    </div>
</div>
