<app-dialog [title]="'修改密码'" [saveDisabled]="passwordForm.invalid||repeatPassword.invalid">
    <form [formGroup]="passwordForm" autocomplete="off" class="px-24 py-12 mt-12 normal-form-fields w-100-p"
          fxLayout="row wrap"
          fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" *ngIf="passwordForm.get('username')" class="w-100-p">
            <mat-label>账户名</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>旧密码</mat-label>
            <mat-icon class="cursor-pointer" matTooltip="隐藏" (click)="oldType.type='password'" matSuffix
                      *ngIf="oldType.type==='text'">visibility
            </mat-icon>
            <mat-icon class="cursor-pointer" matTooltip="显示" (click)="oldType.type='text'" matSuffix
                      *ngIf="oldType.type==='password'">visibility_off
            </mat-icon>
            <input name="oldPassword" matInput autocomplete="off"
                   (input)="checkTheSame($event,'newPassword','oldPassword')"
                   [type]="oldType.type"
                   formControlName="oldPassword">
            <mat-error *ngIf="passwordForm.get('oldPassword').hasError('wrongPassword')">
                密码不能包含汉字！
            </mat-error>
            <mat-error
                    *ngIf="!passwordForm.get('oldPassword').hasError('wrongPassword')&&(passwordForm.get('oldPassword').hasError('required')||passwordForm.get('oldPassword').hasError('minlength')||passwordForm.get('oldPassword').hasError('maxlength'))">
                请输入密码，密码应在6-18位之间！
            </mat-error>
            <mat-error
                    *ngIf="!passwordForm.get('oldPassword').hasError('wrongPassword')&&passwordForm.get('oldPassword').hasError('isSame')">
                新密码不能和旧密码相同！
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>新密码</mat-label>
            <mat-icon class="cursor-pointer" matTooltip="隐藏" (click)="newType.type='password'" matSuffix
                      *ngIf="newType.type==='text'">visibility
            </mat-icon>
            <mat-icon class="cursor-pointer" matTooltip="显示" (click)="newType.type='text'" matSuffix
                      *ngIf="newType.type==='password'">visibility_off
            </mat-icon>
            <input [type]="newType.type" autocomplete="off" (input)="checkTheSame($event,'oldPassword','newPassword')"
                   autocomplete="off"
                   matInput
                   formControlName="newPassword">
            <mat-error *ngIf="passwordForm.get('newPassword').hasError('wrongPassword')">
                密码必须包含大小写字母，特殊符号和数字，不包含汉字！
            </mat-error>
            <mat-error
                    *ngIf="!passwordForm.get('newPassword').hasError('wrongPassword')&&(passwordForm.get('newPassword').hasError('required')||passwordForm.get('newPassword').hasError('minlength')||passwordForm.get('newPassword').hasError('maxlength'))">
                请输入密码，密码应在6-18位之间！
            </mat-error>
            <mat-error
                    *ngIf="!passwordForm.get('newPassword').hasError('wrongPassword')&&passwordForm.get('newPassword').hasError('isSame')">
                新密码不能和旧密码相同！
            </mat-error>
            <mat-error
                    *ngIf="!passwordForm.get('newPassword').hasError('wrongPassword')&&passwordForm.get('newPassword').hasError('notTheSame')">
                新密码和确认密码不相同！
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100-p">
            <mat-label>确认新密码</mat-label>
            <mat-icon class="cursor-pointer" matTooltip="隐藏" (click)="repeatType.type='password'" matSuffix
                      *ngIf="repeatType.type==='text'">visibility
            </mat-icon>
            <mat-icon class="cursor-pointer" matTooltip="显示" (click)="repeatType.type='text'" matSuffix
                      *ngIf="repeatType.type==='password'">visibility_off
            </mat-icon>
            <input matInput (input)="checkRepeatSame($event)" [type]="repeatType.type" autocomplete="off"
                   [formControl]="repeatPassword">
            <mat-error *ngIf="repeatPassword.hasError('wrongPassword')">
                密码必须包含大小写字母，特殊符号和数字，不包含汉字！
            </mat-error>
            <mat-error
                    *ngIf="!repeatPassword.hasError('wrongPassword')&&(repeatPassword.hasError('required')||repeatPassword.hasError('minlength')||repeatPassword.hasError('maxlength'))">
                请输入密码，密码应在6-18位之间！
            </mat-error>
            <mat-error *ngIf="!repeatPassword.hasError('wrongPassword')&&repeatPassword.hasError('notTheSame')">
                确认密码和新密码不相同！
            </mat-error>
        </mat-form-field>
    </form>
</app-dialog>