<div  class="page-layout carded right-sidebar " >
    <div class="top-bg accent"></div>
    <div class="center"><!--center-->
        <!--头部标题、选择框部分   market-data-flex-header-title-->
        <div class="market-data-flex-header">
            <div class="header accent p-24">
                <h2 class="m-0">{{ 'nav.analyst.AnalysisOfMarketingData' |translate }}</h2>
            </div>
            <div class="market-data-flex-top" *ngIf="showReturnBut !== true">
                <div class="market-data-flex-top-title1">
                    <mat-form-field>
                        <mat-select  [(value)]="headerSelect.selectedType" >
                            <mat-option *ngFor="let d of headerSelect.ActivityType" [value]="d.viewValue">
                                {{d.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="market-data-flex-top-title2">
                    <mat-form-field>
                        <mat-select [(value)]="headerSelect.selectName"  (selectionChange)="toChangeSelectName()">
                           <ng-container *ngFor="let d of headerSelect.ActivityName">
                               <mat-option  [value]="d.id">  {{d.viewValue}}   </mat-option>
                           </ng-container>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="returnButClass" *ngIf="showReturnBut === true">
                <button mat-raised-button  color="accent" (click)="goBack()" >
                    {{'merchants.dataDetail.return'|translate}}
                </button>
            </div>
        </div>
        <div class="all-market-data-flex">
            <!--概况部分-->
            <div class="market-data-flex-upper"  >
                <div fxLayout="column" fxLayoutAlign="start start"
                     class="w-100-p h-100-p border-eight p-24 market-data-flex-upper-conent Data-Analysis-background" [ngClass]="{'market-data-flex-upper-ov-y': !HeaderTitle}">
                    <!-- 概况  （统计截止时间为一小时前）-->
                     <div  fxLayout="row" fxLayoutAlign="start center" >
                         <span>{{'BusinessDataAnalysis.survey' |translate }}</span>
                         <span class="unit-color">{{'BusinessDataAnalysis.tips_19' |translate }} </span>
                     </div>
                      <!-- 内容 -->
                     <div fxLayout="row warp" fxLayoutAlign="start center" class="w-100-p pl-24 pr-24 market-data-flex-upper-content-content" fxLayoutGap="16">

                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list" [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img" >
                                 <img src="assets/images/cards/ActivityBrowsing.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.ActivityBrowsing' |translate }} </span> <!-- 活动浏览-->
                             </div>
                             <div fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line" >
                                 <div fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.ActivityBrowsingNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.millionPeopleNum' |translate }}</span><!--万人-->
                                 </div>
                                 <div  fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.ActivityBrowsingPercent' |translate }}</span><!--占常旅客会员比率：-->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.ActivityBrowsingPercent}}</span>
                                 </div>
                             </div>
                         </div>

                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"  [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <img src="assets/images/cards/account.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.MembershipConversionNum' |translate }} </span> <!-- 会员转化 -->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.MembershipConversionNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.millionPeople' |translate }}</span><!--万人-->
                                 </div>
                                 <div  fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.MembershipConversionPercent' |translate }}</span> <!-- 占活动浏览量： -->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.MembershipConversionPercent}}</span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"  [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <img src="assets/images/cards/ActivityPeople.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.NumberOfParticipantsNum' |translate }} </span><!-- 活动参与人数-->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.NumberOfParticipantsNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.millionPeople' |translate }}</span><!--万人-->
                                 </div>
                                 <div   fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.NumberOfParticipantsPercent' |translate }}</span><!-- 旅客活动参与度：-->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.NumberOfParticipantsPercent}}</span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"
                         [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <img src="assets/images/cards/ActivityShare.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.ActivityShare' |translate }} </span><!-- 活动分享 -->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.ActivitySharingNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.millionNum' |translate }}</span><!-- 万次 -->
                                 </div>
                                 <div  fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title"><!--占常旅客会员比率：-->&nbsp;</span>
                                     <span class="market-data-upper-Company-last-number"><!--12%-->&nbsp;</span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"  [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <!--<mat-icon class="img-color">book</mat-icon>-->
                                 <img src="assets/images/cards/coupon.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.coupon' |translate }} </span> <!-- 优惠券发放 -->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.CouponGrantNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.CouponGrantNum' |translate }} </span><!-- 万张 -->
                                 </div>
                                 <div   fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.CouponGrantPercent' |translate }}</span><!-- 核销转化率 -->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.CouponGrantPercent}}</span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"
                              [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p">
                                 <div fxLayout="row" fxLayoutAlign="start start" class="min-h-img">
                                     <img src="assets/images/cards/salesAmount.svg" class="market-data-upper-img-class">
                                     <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.salesAmount' |translate }} </span>  <!-- 销售金额 -->
                                 </div>
                                 <div fxLayout="row" fxLayoutAlign="start center" class="min-h-img">
                                     <img src="assets/images/cards/increaseImg.svg" *ngIf="!(surveyParameter?.SalesAmountInNum)?.includes('-')" class="market-data-upper-img-class">
                                     <img src="assets/images/cards/reduceImg.svg" *ngIf="(surveyParameter?.SalesAmountInNum)?.includes('-')" class="market-data-upper-img-class">
                                     <span *ngIf="!(surveyParameter?.SalesAmountInNum)?.includes('-')"  class="market-data-upper-Company-title increaseColor">{{surveyParameter.SalesAmountInNum}}</span>
                                     <span *ngIf="(surveyParameter?.SalesAmountInNum)?.includes('-')" class="market-data-upper-Company-title reduceColor">{{surveyParameter.SalesAmountInNum}}</span>
                                 </div>
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.SalesAmountNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.millionYuan' |translate }}</span><!-- 万元 -->
                                 </div>
                                 <div   fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.SalesAmountPercent' |translate }}</span><!-- 占活动期间销售额： -->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.SalesAmountPercent}}</span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"  [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <img src="assets/images/cards/AmountOfMarketingFund.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.AmountOfMarketingFund' |translate }} </span> <!-- 营销基金使用金额-->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.AmountMarketingFundNum |number:'1.0-2'}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.millionYuan' |translate }}</span><!--万元-->
                                 </div>
                                 <div   fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title"></span>
                                     <span class="market-data-upper-Company-last-number"></span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"  [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <img src="assets/images/cards/UnitPriceACNum.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.CustomerUnitAC' |translate }} </span> <!-- 参与活动的客单价 -->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.UnitPriceACNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.Yuan' |translate }}</span><!--万-->
                                 </div>
                                 <div   fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.YCUPPAC' |translate }}</span> <!-- 参与活动的客单价同比： -->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.UnitPriceACPercent1}}</span>
                                 </div>
                                 <div   fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.YYOCUP' |translate }}</span> <!-- 整体客单价同比： -->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.UnitPriceACPercent2}}</span>
                                 </div>
                             </div>
                         </div>
                         <div fxLayout="column" fxLayoutAlign="start center" class="p-12 market-data-flex-upper-content-list"  [ngClass]="{'market-data-flex-upper-content-list-w-16': HeaderTitle , 'market-data-flex-upper-content-list-w-none': !HeaderTitle}">
                             <div  fxLayout="flex" fxLayoutAlign="start start" class="w-100-p min-h-img">
                                 <img src="assets/images/cards/ActivityPeople.svg" class="market-data-upper-img-class">
                                 <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.DailyIncrease' |translate }} </span> <!-- 日均增加人数-->
                             </div>
                             <div  fxLayout="column" fxLayoutAlign="space-between start" class="w-100-p market-date-two-line">
                                 <div  fxLayout="row" fxLayoutAlign="start baseline" class="mr-12 " fxLayoutGap="4">
                                     <span class="market-data-upper-Number-Size">{{surveyParameter.DailyIncreaseNum}}</span>
                                     <span class="market-data-upper-Company-Size">{{'BusinessDataAnalysis.People' |translate }}</span><!--人-->
                                 </div>
                                 <div  fxLayout="row" fxLayoutAlign="start baseline">
                                     <span class="market-data-upper-Company-last-title">{{'BusinessDataAnalysis.MMGANDIAS' |translate }}</span><!-- 会员日均增加人数环比：-->
                                     <span class="market-data-upper-Company-last-number">{{surveyParameter.DailyIncreasePercent}}</span>
                                 </div>
                             </div>
                         </div>

                     </div>

                </div>
            </div>
            <!-- 图表部分-->
            <div class="market-data-flex-lower" [ngClass]="{'market-data-flex-lower-row': ResponsiveStruts , 'market-data-flex-lower-column': !ResponsiveStruts}">
                <!--左边大图部分-->
                <div class="market-data-flex-lower-left"
                     [ngClass]="{'market-data-flex-lower-left-w-79': ResponsiveStruts , 'market-data-flex-lower-left-w-98': !ResponsiveStruts}"
                    >
                    <!--会员增长-->
                    <div class="market-data-flex-lower-left-one Data-Analysis-background">
                        <!--标题部分-->
                          <div class="market-data-flex-lower-left-title-top">
                              <div class="market-data-flex-lower-left-title-top-one">
                                  <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.increaseNumber' |translate }}</span><!-- 会员增长 -->
                                  <span class="unit-color">{{'BusinessDataAnalysis.tips_20' |translate }}</span>
                              </div>
                              <div class="market-data-flex-lower-left-title-top-two">
                                  <div class="market-data-flex-lower-left-title-top-about-color" [ngClass]="{'color-w-45': ResponsiveStruts ,'color-w-auto': !ResponsiveStruts }">
                                      <div class="div-h-w market-data-flex-lower-left-title-top-div-color-2792D6"></div>
                                      <div><span class="market-data-flex-lower-title-font-size">{{'BusinessDataAnalysis.NaturalGrowth' |translate }}</span></div> <!-- 自然增长 -->
                                  </div>
                                  <div class="market-data-flex-lower-left-title-top-about-color" [ngClass]="{'color-w-45': ResponsiveStruts ,'color-w-auto': !ResponsiveStruts }">
                                      <div class="div-h-w market-data-flex-lower-left-title-top-div-color-D45056"></div>
                                      <div><span class="market-data-flex-lower-title-font-size">{{'BusinessDataAnalysis.IncreaseByActivity' |translate }}</span></div>  <!-- 活动新增 -->
                                   </div>
                              </div>
                          </div>
                        <!--标题部分结束-->
                        <!--start 图表部分-->
                          <div class="widget-long-line-chart">
                              <canvas baseChart
                                      [labels]="widgets.widget_MembershipGrowth.labels"
                                      [datasets]="widgets.widget_MembershipGrowth.datasets"
                                      [colors]="widgets.widget_MembershipGrowth.colors"
                                      [plugins]="lineChartPlugins"
                                      [options]="widgets.widget_MembershipGrowth.options"
                                      [chartType]="widgets.widget_MembershipGrowth.chartType"
                              >
                              </canvas>
                          </div>
                        <!--end 图表部分-->
                    </div>
                    <!--访问时段-->
                    <div class="market-data-flex-lower-left-one Data-Analysis-background">
                        <!--标题部分-->
                        <div class="market-data-flex-lower-left-title-top">
                            <div class="market-data-flex-lower-left-title-top-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.AccessPeriodTime' |translate }}</span> <!-- 访问时段-->
                                <span class="unit-color">{{'BusinessDataAnalysis.tips_21' |translate }}</span><!-- （统计截止时间为一小时前  单位：人次）-->
                            </div>
                            <!--<div class="market-data-flex-lower-left-title-top-two">
                                <div class="market-data-flex-lower-left-title-top-about-color">
                                    <div class="div-h-w market-data-flex-lower-left-title-top-div-color-2792D6"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">自然增长</span></div>
                                </div>
                                <div class="market-data-flex-lower-left-title-top-about-color">
                                    <div class="div-h-w market-data-flex-lower-left-title-top-div-color-D45056"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">活动新增</span></div>
                                </div>
                            </div>-->
                        </div>
                        <!--标题部分结束-->
                        <!--start 图表部分-->
                        <div class="widget-long-line-chart">
                            <canvas baseChart
                                    [labels]="widgets.widget_AccessPeriod.labels"
                                    [datasets]="widgets.widget_AccessPeriod.datasets"
                                    [colors]="widgets.widget_AccessPeriod.colors"
                                    [plugins]="lineChartPlugins"
                                    [options]="widgets.widget_AccessPeriod.options"
                                    [chartType]="widgets.widget_AccessPeriod.chartType"
                            >
                            </canvas>
                        </div>
                        <!--end 图表部分-->
                    </div>
                    <!--销售券核销业态占比-->
                    <div class="market-data-flex-lower-left-one Data-Analysis-background">
                        <!--标题部分-->
                        <div class="market-data-flex-lower-left-title-top">
                            <div class="market-data-flex-lower-left-title-top-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.coupon2' |translate }}</span><!-- 优惠券 -->
                                <span class="unit-color">{{'BusinessDataAnalysis.tipsUnitOne' |translate }}</span><!-- （ 单位：张） -->
                            </div>
                            <div class="market-data-flex-lower-left-title-top-three">
                                <div class="market-about-color" [ngClass]="{'color-w-45': ResponsiveStruts ,'color-w-auto': !ResponsiveStruts }">
                                    <div class="div-h-w color-C63862 mr-4"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">{{'BusinessDataAnalysis.WriteOff' |translate }}</span></div><!-- 核销量 -->
                                </div>
                                <div class="market-about-color" [ngClass]="{'color-w-45': ResponsiveStruts ,'color-w-auto': !ResponsiveStruts }">
                                    <div class="div-h-w color-1783D1 mr-4"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">{{'BusinessDataAnalysis.Receive' |translate }}</span></div><!-- 领取量 -->
                                </div>
                                <div class="market-about-color" [ngClass]="{'color-w-45': ResponsiveStruts ,'color-w-auto': !ResponsiveStruts }">
                                    <div class="div-h-w color-8ED7FF mr-4"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">{{'BusinessDataAnalysis.grantNum' |translate }}</span></div><!-- 发放量 -->
                                </div>
                            </div>
                        </div>
                        <!--标题部分结束-->
                        <!--start 图表部分-->
                        <div class="widget-long-line-chart" #SalesVoucherWriteOffProfessionalFormProportion>

                        </div>
                        <!--end 图表部分-->
                    </div>
                    <!--优惠券领取量与核销量-->
                    <div class="market-data-flex-lower-left-three Data-Analysis-background">
                        <!--标题部分-->
                        <div class="market-data-flex-lower-left-title-date">
                            <div class="market-data-flex-lower-left-title-top-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.coupon3' |translate }}</span>
                                <span class="unit-color">{{'BusinessDataAnalysis.tipsUnitOne' |translate }}</span>
                            </div>
                            <div class="market-data-flex-lower-left-title-top-four">
                                 <div class="time-select normal-form-field">
                                   <!-- <form [formGroup]="options" class="options_time_form">-->
                                        <mat-form-field appearance="outline" [floatLabel]="'always'"  >
                                            <mat-label>{{'BusinessDataAnalysis.startTime' |translate }}</mat-label> <!--开始日期-->
                                            <input #startTime autocomplete="off"  matInput (change)="onDateStartChange()" [disabled]="timeDateSelect.timeDis">
                                            <span  class="iconfont iconcalendar theme-color" matSuffix></span>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" [floatLabel]="'always'"  >
                                            <mat-label>{{'BusinessDataAnalysis.endTime' |translate }}</mat-label><!--结束日期-->
                                            <input #endTime autocomplete="off"  matInput (change)="onDateStartChange()" [disabled]="timeDateSelect.timeDis">
                                            <span  class="iconfont iconcalendar theme-color" matSuffix></span>
                                        </mat-form-field>
                                      <!-- <mat-form-field appearance="outline" >
                                         <input #endHour autocomplete="off"  matInput (change)="onEndHourChange()" [disabled]="timeDateSelect.timeDis">
                                         <span  class="iconfont iconcalendar theme-color" matSuffix></span>
                                       </mat-form-field>-->
                                   <!-- </form>-->
                                 </div>
                                <div class="day-hour-change">
                                        <div class="day-change"  (click)="changeTable('hour')"  [ngClass]="{'accent':timeDateSelect.day === 'hour' }" >
                                            <span [ngClass]="{'div-sp-color':timeDateSelect.day === 'hour' , 'market-data-flex-lower-title-font-size': timeDateSelect.day === 'day' }" >{{'BusinessDataAnalysis.tipsDays' |translate }}</span> <!-- 日 -->
                                        </div>
                                        <div class="hour-change" (click)="changeTable('day')"  [ngClass]="{'accent':timeDateSelect.day === 'day' }" >
                                            <span  [ngClass]="{'div-sp-color':timeDateSelect.day === 'day' , 'market-data-flex-lower-title-font-size': timeDateSelect.day === 'hour'  }">{{'BusinessDataAnalysis.acTime' |translate }}</span><!-- 活动期间 -->
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!--标题部分结束-->
                        <!--start 图表部分-->
                        <!-- 日期表格-->
                            <div class="widget-long-table" >
                                <table mat-table [dataSource]="receiveWriteOffNum.dataSource" multiTemplateDataRows class="table_re_w">
                                    <ng-container  matColumnDef="{{cou}}"
                                                   *ngFor="let cou of receiveWriteOffNum.displayedColumns ; index as k;" >
                                        <th mat-header-cell *matHeaderCellDef>
                                            <ng-container *ngIf="k !== 0 && k !== 1">
                                                <div *ngFor="let heard of receiveWriteOffNum.TableHer"> {{heard[cou]}}</div>
                                            </ng-container>
                                        </th>
                                        <ng-container *matCellDef="let element; index as t;">
                                            {{element.length}}
                                            <ng-container *ngIf="0 === k">
                                                <ng-container *ngIf="element[cou] !== '' " >
                                                    <td mat-cell [attr.rowspan]="2" > {{element[cou]}} </td>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container  *ngIf="1 === k">
                                                <td mat-cell > {{element[cou]}} </td>
                                            </ng-container>
                                            <ng-container *ngIf="0 !== k && 1 !== k">
                                                <td mat-cell > {{element[cou] |number:'1.0-2' }} </td>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="receiveWriteOffNum.displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: receiveWriteOffNum.displayedColumns;" ></tr>
                                </table>
                            </div>
                            <div class="paginatorClass" [hidden]="showHourTable">
                                <mat-paginator [pageSize]="receiveWriteOffNum.pageSize"
                                               (page)="nextP($event)"
                                               showFirstLastButtons ></mat-paginator>
                            </div>

                        <!-- 小时表格-->

                        <!--end 图表部分-->
                    </div>
                    <!-- 订单金额分布 -->
                    <div class="market-data-flex-lower-left-one Data-Analysis-background">
                        <!--标题部分-->
                        <div class="market-data-flex-lower-left-title-top">
                            <div class="market-data-flex-lower-left-title-top-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.OrderAmountDis' |translate }}</span> <!-- 订单金额分布-->
                                <span class="unit-color">{{'BusinessDataAnalysis.UnitNum_1' |translate }}</span>
                            </div>
                            <!--<div class="market-data-flex-lower-left-title-top-two">
                                <div class="market-data-flex-lower-left-title-top-about-color">
                                    <div class="div-h-w market-data-flex-lower-left-title-top-div-color-2792D6"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">自然增长</span></div>
                                </div>
                                <div class="market-data-flex-lower-left-title-top-about-color">
                                    <div class="div-h-w market-data-flex-lower-left-title-top-div-color-D45056"></div>
                                    <div><span class="market-data-flex-lower-title-font-size">活动新增</span></div>
                                </div>
                            </div>-->
                        </div>
                        <!--标题部分结束-->
                        <!--start 图表部分-->
                        <div class="widget-long-line-chart" #OrderAmountDisChart>
                            <!--<canvas baseChart-->
                                    <!--[labels]="widgets.OrderAmountDis.labels"-->
                                    <!--[datasets]="widgets.OrderAmountDis.datasets"-->
                                    <!--[colors]="widgets.OrderAmountDis.colors"-->
                                    <!--[plugins]="lineChartPlugins"-->
                                    <!--[options]="widgets.OrderAmountDis.options"-->
                                    <!--[chartType]="widgets.OrderAmountDis.chartType"-->
                            <!--&gt;-->
                            <!--</canvas>-->
                        </div>
                        <!--end 图表部分-->
                    </div>
                    <!-- 会员画像 -->
                    <div fxLayout="column" fxLayoutAlign="center center" class="w-100-p NumberPortrait Data-Analysis-background">
                        <div fxLayout="row" fxLayoutAlign="start center" class="w-96-p portraitSpan">
                            <span class="market-data-upper-Company-title">活动会员标签画像</span>
                        </div>
                        <div class="w-100-p" fxLayout="row" fxLayoutAlign="center center">
                            <div id="Portrait" class="PortraitWH">

                            </div>
                        </div>

                    </div>

                    <!--第三部分-->
                    <div class="market-data-flex-lower-left-two">
                        <!-- 参与会员年龄分布-->
                       <!-- <div class="market-data-flex-lower-left-two-S-C-O-P-participateAgeDistribution Data-Analysis-background">
                            &lt;!&ndash; start标题部分&ndash;&gt;
                            <div class="market-data-flex-lower-left-two-title-one">
                                <div class="market-data-flex-lower-left-two-title">
                                    <span class="market-data-upper-Company-title">参与会员年龄分布</span>
                                </div>
                            </div>
                            &lt;!&ndash; end标题部分&ndash;&gt;
                            &lt;!&ndash;start 图表部分&ndash;&gt;
                            <div class="widget-long-pie-chart" #AgeDistributionOfParticipatingMember>

                            </div>
                            &lt;!&ndash;end 图表部分&ndash;&gt;
                        </div>-->
                        <!-- 销售券核销业态占比 -->
                       <!-- <div class="market-data-flex-lower-left-two-S-C-O-P-participateAgeDistribution Data-Analysis-background">
                            &lt;!&ndash; start标题部分&ndash;&gt;
                            <div class="market-data-flex-lower-left-two-title-one">
                                <div class="market-data-flex-lower-left-two-title">
                                    <span class="market-data-upper-Company-title">销售券核销业态占比</span>
                                </div>
                            </div>
                            &lt;!&ndash; end标题部分&ndash;&gt;
                            &lt;!&ndash;start 图表部分&ndash;&gt;
                            <div class="widget-long-pie-chart" #SalesVoucherWriteOffProfessionalFormProportion>

                            </div>
                            &lt;!&ndash;end 图表部分&ndash;&gt;
                        </div>-->
                    </div>
                </div>
                <!--右边边小图部分-->
                <div class="market-data-flex-lower-right"
                     [ngClass]="{'market-data-flex-lower-right-w-19': ResponsiveStruts , 'market-data-flex-lower-right-w-98': !ResponsiveStruts}"
                >
                    <!--参与会员性别-->
                    <div class="market-data-flex-lower-right-one Data-Analysis-background"
                         [ngClass]="{'market-data-flex-lower-right-one-w-100': ResponsiveStruts , 'market-data-flex-lower-right-one-w-30': !ResponsiveStruts}">
                        <!--start 标题部分-->
                        <div class="participateAgeDistribution-title-top">
                            <div class="participateAgeDistribution-title-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.partakeMemberGender' |translate }}</span> <!-- 参与会员性别 -->
                            </div>
                        </div>
                        <!--end 标题部分-->
                        <!--start 图表部分-->
                        <div class="widget-long-pie-chart" #GenderOfParticipatingMember>

                        </div>
                        <!--end 图表部分-->
                        <!-- start 展示数据部分-->
                        <div class="market-data-flex-lower-right-tip-show-data">
                            <!--start 设置男女提示部分-->
                              <div class="sex-w-m-t-l-r">
                                  <div class="sex-color-w-h">
                                      <div class="male-div-color"></div>
                                      <span class="sex-span-size">{{'BusinessDataAnalysis.male' |translate }}</span><!-- 男 -->
                                  </div>
                                  <div class="sex-color-w-h">
                                      <div class="female-div-color"></div>
                                      <span class="sex-span-size">{{'BusinessDataAnalysis.female' |translate }}</span><!-- 女 -->
                                  </div>
                              </div>
                            <!--end 设置男女提示部分-->
                            <!--start 设置数据提示部分-->
                            <div class="number--w-m-t-l-r">
                                    <span class="number-span-size">{{surveyParameter.GenderRatioOfMembersMale}}</span>
                                    <span class="number-span-size">{{surveyParameter.GenderRatioOfMembersFemale}}</span>
                            </div>
                            <!--end 设置数据提示部分-->
                        </div>
                        <!-- end 展示数据部分-->
                    </div>
                    <!--参与会员类型 -->
                    <div class="market-data-flex-lower-right-one Data-Analysis-background"
                         [ngClass]="{'market-data-flex-lower-right-one-w-100': ResponsiveStruts , 'market-data-flex-lower-right-one-w-30': !ResponsiveStruts}">
                        <!--start 标题部分-->
                        <div class="participateAgeDistribution-title-top">
                            <div class="participateAgeDistribution-title-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.partakeNumType' |translate }}</span><!-- 参与会员类型 -->
                            </div>
                        </div>
                        <!--end 标题部分-->
                        <!--start 图表部分-->
                        <div class="widget-long-pie-chart-number-type" #TypesOfParticipatingMembers>

                        </div>
                        <!--end 图表部分-->
                        <!-- start 展示数据部分-->
                        <div class="market-data-flex-lower-right-tip-show-data">
                             <div class="title-number-w-x-m">
                                 <span class="title-number-w-x-m-span-color-size-one">{{'BusinessDataAnalysis.FirstMembers' |translate }}</span><!-- 首单会员人数 -->
                                 <span class="title-number-w-x-m-span-color-size-two">{{surveyParameter.FirstMembershipNum}}</span>
                                 <span class="title-number-w-x-m-span-color-size-one">{{'BusinessDataAnalysis.millionPeople' |translate }}</span><!-- 万人 -->
                             </div>
                        </div>
                        <!-- end 展示数据部分-->
                    </div>
                    <!--参与会员年龄分布 -->
                    <div class="market-data-flex-lower-right-age Data-Analysis-background"
                         [ngClass]="{'market-data-flex-lower-right-age-w-100': ResponsiveStruts , 'market-data-flex-lower-right-age-w-30': !ResponsiveStruts}">
                        <!--start 标题部分-->
                        <div class="participateAgeDistribution-title-top">
                            <div class="participateAgeDistribution-title-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.partakeNumAgeDistribution' |translate }}</span><!-- 参与会员年龄分布 -->
                            </div>
                        </div>
                        <!--end 标题部分-->
                        <!--start 图表部分-->
                        <div class="widget-long-pie-chart-age-Number" #AgeDistributionOfParticipatingMember>

                        </div>
                        <!--end 图表部分-->
                        <!-- start 展示数据部分-->
                       <!-- <div class="market-data-flex-lower-right-tip-show-data">
                            <div class="title-number-w-x-m">
                                <span class="title-number-w-x-m-span-color-size-one">首单会员人数</span>
                                <span class="title-number-w-x-m-span-color-size-two">23,123</span>
                                <span class="title-number-w-x-m-span-color-size-one">万人</span>
                            </div>
                        </div>-->
                        <!-- end 展示数据部分-->
                    </div>
                    <!--业态关联销售占比 -->
                    <div class="market-data-flex-lower-right-age Data-Analysis-background"
                         [ngClass]="{'market-data-flex-lower-right-one-w-100': ResponsiveStruts , 'market-data-flex-lower-right-one-w-30': !ResponsiveStruts}">
                        <!--start 标题部分-->
                        <div class="participateAgeDistribution-title-top">
                            <div class="participateAgeDistribution-title-one">
                                <span class="market-data-upper-Company-title">{{'BusinessDataAnalysis.bizTypeSalesP' |translate }}</span><!-- 业态关联销售占比 -->
                            </div>
                        </div>
                        <!--end 标题部分-->
                        <!--start 图表部分-->
                        <div class="widget-long-pie-chart-stack" #FormatRelatedSalesP>

                        </div>
                        <!--end 图表部分-->
                        <!-- start 展示数据部分-->
                        <div class="FormatRelatedSalesP-show-data">
                            <ng-container *ngFor="let biz of formatRelatedSalesP.tipsSource">
                                <div class="bizType-num-p">
                                    <div class="biz-child-one">
                                        <!-- 颜色字体  免税 零售 餐饮-->
                                        <div class="color-w-h" [ngClass]="{'color-8ED7FF': biz.title === ('BusinessDataAnalysis.dutyFree' |translate)
                                                  , 'color-1783D1': biz.title === ('BusinessDataAnalysis.retail' |translate) , 'color-C63862': biz.title ===  ('BusinessDataAnalysis.Restaurant' |translate)}"></div>
                                        <span>{{biz.title}}</span>
                                    </div>
                                    <div class="biz-child-two">
                                        <!-- 金钱单位-->
                                        <span>{{biz.num |number:'1.2-2'}}</span>
                                        <span>{{'BusinessDataAnalysis.millionYuan' |translate }}</span> <!-- 万元-->
                                    </div>
                                    <div class="biz-child-one">
                                        <!-- 百分比-->
                                        <span>{{biz.p}}%</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <!-- end 展示数据部分-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end  center-->
</div>


