@import "src/@fuse/scss/fuse";

.content {
  .left-panel {
    width: 50%;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    @include media-breakpoint('lt-md') {
      width: 100%;
    }
    .base-img {
      width: 45px;
      height: 45px;
      border: 2px solid;
      background: #aaaaaa80;
      border-radius: 50%;
    }
    .smaller-img {
      @extend .base-img;
      width: 30px;
      height: 30px
    }
    .smaller-img-div{
      width:30px;
      height: 30px;
      border-radius: 50%;
      background: #B9E8FF;
      border:2px solid #039BE5;
    }

    .detail-link {
      cursor: pointer;
      text-decoration-line: underline;
      text-underline-position: under;
    }
    .left-tag {
      .tag-button {
        height: 28px;
        min-height: 24px;
        font-size: 13px;
        padding: 0 12px;
        font-weight: normal;
        border-radius: 5px;
      }
      .tag-chip {
        @extend .tag-button;
        background: #ECF7FD;
        border: 1px dashed #aaaaaa80;
      }
    }
  }

  .right-panel {
    width: 50%;
    height: 100%;
    @include media-breakpoint('lt-md') {
      width: 100%;
    }
    mat-card {
      width: 100%;
      height: 280px;
      @include media-breakpoint('lt-md') {
        height: initial;
      }
    }
    // 标题文字信息
    .info-span {
      font-size: 24px;
      font-family: cursive;
    }

    .member-table {
      width: 50%;
      table-layout: fixed;
      font-size: 13px;
      td {
        padding: 6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:nth-child(1) {
          width: 40%;
          text-align: right;
        }
        &:nth-child(2) {
          user-select: text !important;
          width: 60%;
        }
      }
    }
  }
  mat-divider {
    position: relative;
    border-top-color: #aaaaaa80;
  }
}

.normal-form-fields {
  mat-form-field {
    width: 175px;
  }
}

.integral-detail{
  color: #76D1FF;
  text-decoration: underline;
  cursor: pointer;
}


// 积分详情dialog
.integral-title{
  background-color: #2B96D8;
  height: 50px;
  padding:0 20px;
  .word-color{
    color: #fff;
  }
}

::ng-deep{
  #integralDialogId{
    padding: 0 !important;
  }
}
.integral-table-div{
  table{
    width: 100%;
  }
}
.datetimepicker-style{
  width: 327px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 15px 0 15px 15px;
}

.start-end-time{
  margin-top: 20px;
  margin-bottom: 15px;
  .start-time-picker{
    margin-right:5px;
  }
/*  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 50px;
    }
  }*/
  .date-picker{
    width: 200px;
    height: 38px;
  }

  .datepicker-span{
    text-decoration:underline;
    color:#039BE5;
    cursor: pointer;
  }

}

// 标签溢出时
.tag-scroll{
  max-height: 75px;
  overflow: hidden scroll;
  mat-chip-list{
    height: 70px;
  }
}
