@import "../../../../../../../@fuse/scss/fuse";
// 整体布局
.content {
  .left-panel {
    width: 50%;
    height: 100%;
    overflow: hidden;
    @include media-breakpoint('lt-md') {
      width: 100%;
      height: 100vh
    }
  }
  .right-panel {
    width: 50%;
    height: 100%;
    overflow: hidden;
    @include media-breakpoint('lt-md') {
      width: 100%;
      height: 100vh
    }
  }
  mat-divider {
    position: relative;
    border-top-color: #aaaaaa80;
  }
}

// leftContentTop 样式
.addCouponButton {
  font-size: 1.2rem;
  line-height: 30px;
  mat-icon {
    font-size: 2rem;
    line-height: 23px;
  }
}

// leftContentBottom 样式
.overflowControl{
  height: calc(80vh - 160px);
  overflow-y: scroll;
}
.couponBackground{
  background-color: #EEEEEE;
}
.setMinWidth{
  min-width: 85px;
}
.textareaStyle{
  height: 100px!important;
  width: 100%;
  ::ng-deep{
    .mat-form-field-flex{
      height: 100px!important;
    }
    .mat-form-field-infix{
      height: 100px!important;
    }
  }
}








