
.addRuleTe{
  width: 100%;
  height: 100%;
}

.add-rule-all-flex{
  width: 100%;
  height: 90%;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  .EjectDialog{
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
   // border: 1px solid #9C9C9C;
    .add-class{
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
       mat-icon{
         font-size: 56px;
         width: 56px;
         height: 56px;
       }

    }
    .add-span-class{
      width: 70%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }
  .EjectDialog:hover{
    box-shadow: 2px 2px 5px #bbb;
  }
}

.DialogAllClass{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .DialogClass{
    width: 40%;
    height: 76%;
    cursor: pointer;
    background-color: #F2F2F2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
   // box-shadow: 2px 2px 5px #bbb;
   // -webkit-user-select:none;
   // -moz-user-select:none;
   // -ms-user-select:none;
   // user-select:none;
    span{
      color: #A4A4A4;
    }
  }
  .ConsumeClass:hover{
    box-shadow: 2px 2px 5px #bbb;
    span{
      color: #A4A4A4;
    }
  }
  .InteractsClass:hover{
    box-shadow: 2px 2px 5px #bbb;
    span{
      color: #A4A4A4;
    }
  }
  .ConsumeClass:active{
    box-shadow: 2px 2px 5px #bbb;
    span{
      color: #A4A4A4;
    }
  }
  .InteractsClass:active{
    box-shadow: 2px 2px 5px #bbb;
    span{
      color: #A4A4A4;
    }
  }
}

.imgClass{
  width: 90px;
  height: 70px;
}

.dialog-manage-title{
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  align-items: center;
  background-color: #2B96D8;
  .mat-dialog-title-tips{
    display: flex;
    width: 93%;
    height: 100%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    .title_dialog_{
      font-size: 1.3rem;
      color: #ffffff;
    }
    button{
      mat-icon{
        color: #ffffff;
      }
    }
  }

}

::ng-deep {
  #SelectAddWhichDialogClass{
    padding: 0!important;
    .mat-dialog-title{
      margin-bottom: 0px;
    }
    mat-dialog-content{
      margin: 0px;
    }
  }
}