#days {
  border: 1px solid #ccc;
}
.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
mat-form-field{
  width: 180px;
}
