
::ng-deep {
  #frozenTips{
    padding: 0!important;
    mat-dialog-content{
      margin: 0px;
      overflow: visible;
    }
  }
}

.dialog-manage-title{
  display: flex;
  width: 100%;
  height: 16%;
  justify-content: space-between;
  align-items: center;
  background-color: #2B96D8;
  .mat-dialog-title-tips{
    display: flex;
    width: 93%;
    height: 100%;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
    .title_dialog_{
      font-size: 1.3rem;
      color: #ffffff;
    }
    button{
      mat-icon{
        color: #ffffff;
      }
    }
  }

}
.MatDialogFrozenClass{
  height: 177px;
  div{
    height: 25px;
    textarea{
      width: 100%;
      height: 90px;
      border-radius: 5px;
    }
  }

}
.btu_dialog_Frozen{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button{
    background-color: red!important;
    color: white;
    height: 28px;
    line-height: 28px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .closeButton{
    background-color: #E3384E!important;
  }
  .passButton{
    background-color: #56A402!important;
  }
  .backButton{
    background-color: #E3384E!important;
  }
}


