@import "src/@fuse/scss/fuse";

.Member-allFlex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @include media-breakpoint('lt-md'){
    flex-direction: column;
  }
  .Member-left_me{
    border-radius: 5px;
    width: 48%;
    height: 98%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include media-breakpoint('lt-md'){
      overflow-y: hidden;
      height: auto;
      width: 96%;
      margin-bottom: 20px;
    }
    .all-form-class{
      width: 100%;
      height: 100%;
      display: flex;
      .Member-left-All-flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        .batch-up{
          display: flex;
          width: 100%;
          height: 20%;
          border-radius: 5px;
          background-color: #FFFFFF;
          border: 1px solid #DDDDDD;
          .batch-up-all{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
              button{
                font-size: 1.2rem;
                line-height: 30px;
                mat-icon{
                  font-size: 2rem;
                  line-height: 23px;
                }
              }
            }
            .choose-coupon-lot-all{
              width: 96%;
              height: 50%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-left: 15px;
              div{
                span{
                  padding-right: 20px;
                }
                button:hover{
                  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
                }
              }
              .mat-form-field{
                width: 70%;
              }
            }
          }
        }
        .batch-down{
          display: flex;
          width: 100%;
          height: 77%;
          border-radius: 5px;
          background-color: #FFFFFF;
          border: 1px solid #DDDDDD;
          padding-bottom: 15px;
          padding-top: 15px;
          .batch-down-all{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            .title-content{
              width: 96%;
              height: 16%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-top: 5px;
              padding-bottom: 5px;
            }
            .img-content{
              width: 96%;
              height: 80%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-top: 5px;
              padding-bottom: 5px;
            }
            .table-class-batch{
              width: 96%;
              height: 100%;
              .table-class-batch-tr{
                font-size: 14px;
                width: 100%;
                // height: 16%;
                padding-top: 4px;
                td:nth-child(1) {
                  width: 6%;
                  text-align: right;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
                td:nth-child(2) {
                  width: 90%;
                  padding-left: 15px;
                  padding-top: 0px;
                  text-align: left;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
          }
        }
      }
    }
  }


  .Member-right_me{
    border-radius: 5px;
    width: 48%;
    height: 68%;
    overflow-y: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    @include media-breakpoint('lt-md'){
      width: 96%;
      height: auto;
      overflow-y: hidden;
      margin-bottom: 20px;
    }
    .all-form-class-r {
      width: 100%;
      height: 100%;
      display: flex;
      .Member-right-All-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 95%;
        margin-top: 15px;
        .setAll{
          width: 95%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items:  center;
          .title-set{
            width: 100%;
            display: flex;
            mat-form-field{
              width: 100%;
            }
          }
          .body-one-set{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .batchNo{
              width: 48%;
              mat-form-field{
                width: 100%;
              }
            }
          }
        }
      }
    }

  }

}

.date-picker-w{
  width: 48%;
}

.span-font-class-title-r{
  font-size: 15px;
  color: #555555;
}



.span-font-class{
  font-size: 1.2rem;
  color: #555555;
}

.img-value-bg{
  background-color: #eeeeee;
}
.img-value-bg-op{
  background-color: rgba(255,255,255,0);
}

.text-value{
  // 60
  height: 70%;
  display: flex;
  // background-color: #eeeeee;
}
.img-value{
  width: 214px;
  height: 47px;
  display: flex;
  // background-color: #eeeeee;
  .img-w-h{
    width: 100%;
    height: 100%;
  }
}


.text-value-bg{
  width: 214px;
  background-color: #eeeeee;
}
.text-value-bg-op{
  width: 100%;
  background-color: rgba(255,255,255,0);
}


.Member-btu-class-me{
  display: flex;
  // width: 20%;
  justify-content: space-around;
  margin-right: 5px;
  div{
    margin-right: 12px;
  }
  button:hover{
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  }
}

.mr-top{
  margin-top: 12px;
}

.mat-point{
  mat-form-field{
    // width: 80%;
    height: 40px;
    .mat-form-field-wrapper{
      height: 40px;
    }
  }
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
      height: 40px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0em ;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0em;
    }
    .mat-form-field-flex{
      height: 40px;
    }
    .mat-form-field-label-wrapper {
      top: -1.14375em;
      padding-top: 1.04375em;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
      top: 2.404375em;
      margin-top: -0.9em;
    }
  }
}



.importCodeDiv{
   width: 23%;
   height: 40px;
   //position: relative;
   //z-index: 1;
  .importCodeBut{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    //position: absolute;
    //z-index: 2;
  }
/*  .importCodeBut:hover{
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  }
  .importCodeInput{
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    padding: 5px;
    line-height: 0.1;
  }*/
}


::ng-deep{
  #UpFileClass{
    padding: 0px!important;
  }
  #ExImgCOUClass{
    padding: 0px!important;
  }
  #preBigImgClass{
    padding: 0px!important;
  }
}

.upCodeTitle{
  background-color:  #2295db;
  span{
    color: #FFFFFF;
    margin-left: 12px;
  }
  a{
    color: #FFFFFF;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
  }
  button{
    margin-right: 12px;
    mat-icon{
      color:  #FFFFFF;
    }
  }

}

.upTxtDiv{
  border-radius: 6px;
  position: relative;
  .chooseTxtBut{
    position: absolute;
  }
  .chooseTxtFile{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 80%;
    opacity: 0;
    line-height: 0.1;
  }
}


.ExImgTitle_cou{
  background-color:  #2295db;
  span{
    color: #FFFFFF;
  }
  mat-icon{
    color:  #FFFFFF;
  }
}

.ExImgUrlClass_cou{
  width: 250px;
  height: 250px;
  margin-top: 28px;
  border: 1px solid #555555;
}


.dialog-cou-title {
  display: flex;
  width: 100%;
  height: 12%;
  justify-content: space-between;
  align-items: center;
  // background-color: #2B96D8;
  .cou-dialog-title-tips {
    display: flex;
    width: 98%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .title_dialog_cou {
      font-size: 1.3rem;
      color: #000000;
    }
  }

}

.content-class-cou {
  width: 100%;
  height: 400px;
  //  overflow: auto;
}


.cou-input-textArea {
  mat-form-field {
    width: 100%;
    height: 400px;
    .mat-form-field-wrapper {
      height: 400px;
    }
    textarea {
      height: 350px;
      overflow: auto;
    }
  }
  ::ng-deep {
    .mat-form-field-wrapper {
      height: 400px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
      height: 400px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0em;
    }
    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0em;
    }
    .mat-form-field-flex {
      //  height: 35px;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
      top: 2.884375em;
      margin-top: -0.7em;
    }
  }
}