@import "../../../../../../../@fuse/scss/fuse";

$gray: D8D8D8;
$blackBorder: #00000080;

.left-panel {
  width: 50%;
  height: 100%;
  @include media-breakpoint('lt-md') {
    width: 100%;
    height: 100vh
  }
}

.right-panel {
  width: 50%;
  height: 100%;
  @include media-breakpoint('lt-md') {
    width: 100%;
    height: 100vh;
  }
}

.left-content {
  padding-top: 10px;
  padding-right: 20px;
  max-height: 40vh;
}

.right-content {
  padding-right: 20px;
  max-height: 40vh;
}

.save-button {
  background-color: #6BD5FF !important;
  width: 80px;
}

.back-button {
  width: 80px;
}

.part-1, .part-2, .part-3 {
  mat-form-field {
    width: 48%
  }
}

.w-16-p {
  width: 18%
}

.w-48-p {
  width: 48%
}

.logo-div {
  width: 100px;
  height: 100px;
  padding: 8px;
  //border: 1px solid $blackBorder;
  border-radius: 8px;
  img {
    //border-radius: 50%;
  }
  img:not([src]) {
    opacity: 0;
  }
  // 删除logo
  .logo-delete {
    position: relative;
    left: 65px;
    bottom: 90px;
  }
}

.image-content {
  .image-div {
    margin: 12px;
    width: 150px;
    height: 120px;
    border-radius: 5px;
    background: #D8D8D8;
    border: 1px solid $blackBorder;
    & > img:not([src]) {
      opacity: 0;
      border-radius: 5px;
    }
    & > img[src] {
      border-radius: 5px;
    }
  }
  .image-loading {
    position: relative;
    left: 100px;
    top: 40px
  }

  .image-delete {
    position: relative;
    top: -120px;
    left: 125px;
  }
}

.on-loading {
  background: initial !important;
  border: unset !important;
}

.label-button {
  min-width: 120px;
  width: 40%;
  max-width: 50%;
}
