

.allBg{
  //padding: 0!important;
  //background-color: rgba(255 , 255, 255 , 0.1);
}


.progressBarClass{
  .fileSpinner{
    position: relative;
    color: #000000;
    font-weight: bold;
  }
  .matSpinner{
    position: absolute;
  }
}